/* Bio paulo */
@font-face {
  font-family: "AR BONNIE";
  src: url("../fonts/ARBONNIE.ttf") format("truetype");
}

#biografia,
#contacto-rider {
  background: linear-gradient(to bottom, #dcd8d6, #8a8280);
  padding-bottom: 2rem;
  max-height: 100%;
}
#biografia .row {
  align-items: center;
}
.titulo {
  padding: 1.5rem 0;
  font-family: "AR BONNIE", sans-serif;
  text-align: center;
}
#biografia h2 {
  font-size: 5rem;
}
#imagen-bio {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
  /* height: 90vh;
  width: auto; */
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
}
#texto-bio p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem; /*o 1.5rem*/

  text-align: center;
}
/* Bio */
/* contacto paulo */
#contacto-rider h2 {
  font-size: 4rem;
}
#contacto-rider .row {
  margin: auto 0;
}
#card-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-form {
  text-align: left;
  /* background-color: #423d3a; */
  background-image: url("../img/prueba.png");
  background-size: cover;
  color: #dcd8d6;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.card-form h6 {
  text-align: center;
  font-size: 2rem;
}
.card-form label {
  margin-left: 10px;
  padding-top: 5%;
  font-size: 1.2rem;
}

.card-form input {
  height: 2.5rem;
}
textarea::placeholder,
.card-form input::placeholder {
  color: #aaa6a6;
  font-size: 1.2rem;
}
.input-text,
textarea {
  color: #ffffff;
  width: 100%;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #dcd8d6;
}
textarea {
  min-height: 9rem;
}
.input-text:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.8);
  /* backdrop-filter: blur(10px); */
}

.submit-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
#submit-btn {
  background-color: #000000;
  border: 1px solid #dcd8d6;
  color: #dcd8d6;
  font-size: 1.2rem;
  font-weight: 600;
}
#submit-btn:hover {
  color: #000000;
  background-color: #dcd8d6;
}
#rider {
  text-align: center;
}
#rider h5 {
  font-family: "AR BONNIE", sans-serif;
  font-size: 2rem;
}
/* #rider a {
  vertical-align: middle;
} */
#rider-img {
  margin-top: 1rem;
  width: 70%;
  height: auto;
}
/* contacto paulo */
